body{
    background-color: rgb(49, 49, 49);
    border: 7px solid black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 200px;
    color: aliceblue;
    font-size: 40px;
    margin: 200px;
   
   
     
} 